body{
    font-family: 'Montserrat';
    background-color: #302D40;
}

section{
    margin-top: 100px;
}

/* navbar */
.navbar {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 115px;
    background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    margin-left: 60px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FFCD4B;
}
.navbar-light .navbar-nav .active > .nav-link {
    color: #FFCD4B;
}
/* end navbar */



/* detail artist */
#detail-artist{
    margin-bottom: 100px;
}
#detail-artist .title-box{
    width: 548px;
    height: 156px;
    background-color: #2E2B3D;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.8);
    color: #FFCD4B;
    padding: 25px 25px;
}
#detail-artist .title-box h2{
    font-weight: bold;
    font-size: 80px;
    line-height: 90%;
}
#detail-artist .title-box h3{
    font-weight: normal;
    font-size: 40px;
    line-height: 90%;
    padding-left: 80px;
}
#detail-artist .detail-artist-left{
    margin-top: 120px;
}
#detail-artist .detail-artist-left p{
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    color: #d5d5d5;
    text-align: right;
    padding-top: 50px;
    margin-top: 140px;
}
#detail-artist .detail-artist-left .title-box{
    position: absolute;
    z-index: 2;
    margin-left: 100px;
}
#detail-artist .detail-artist-right img{
    position: relative;
    z-index: 1;
}




/* end */

/* footer */
footer{
    background-color: #23202B;
    color: #ffffff;
    padding-top: 50px;
    bottom: 0px;
}
footer .fa{
    width: 28px;
    height: 20px;
    margin-right: 10px;
}
footer h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}
footer p{
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 30px;
}
footer h4{
    font-size: 24px;
    line-height: 29px;
}
footer .col-md-6{
    float: right;
}
footer .copyright{
    text-align: right;
    margin-top: 200px;
}
/* end */